<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %} | BlogApp </title> <!-- dinamik title gelmesi için burada bir block title değişkeni tanımlandı aynı content te olduğu gibi. Bunu da her html sayfasından değiştirebilirim. -->
    <!-- block title arası boş bırakıldı diğer html lerden bilgiyi almak için. dinamik olması için. Pipe işareti ve BlogApp ise sabit olarak her bir dinamik verinin sonuna bastırılacak. -->
</head>
<body>
    {% block content %} <!-- diğer html sayfalarında değişecek kısım burası olduğu için burayı block content olarak alıyorum.-->
    {% endblock %}
</body>
</html>