{% extends 'base.html' %} <!-- block ile bir content çağıracağız fakat hangi block olduğunu burada tanımlamak gerekiyor. Başka bir template den çekmemesi için. İstediğim template i burada tanımlıyorum -->

{% block title %} Anasayfa {% endblock %} <!-- base.html içerisinde title ı dinamik olarak bıraktım ve buradan kontrol edebiliyorum. İki title block arasına ne yazarsam title o şekilde değişecek. -->

{% block content %} <!-- block content ile base html i buraya aktardım. -->

<h1>qweqweqwe</h1>
<!-- İlerleyen zamanlarda emmet için bir çalışma yapmak gerekli, snippetler doğru çalışmıyor ayarları bozuk olabilir. Zaman harcamak istemiyorum şuan. Javascript ile paralel inceleyeceğim. -->

{% endblock %}
